.tab-wrapper
  display: flex
  flex-direction: column
  align-items: center
  margin: 0px auto
  width: 750px
  height: auto
  border-radius: 5px
  border: 1px solid #aaa

.button-wrapper
  display: flex
  

.tab-button
  color: #e6e5e7
  font-size: 16px
  font-weight: bold
  outline: none
  border: 1px solid #aaa
  margin-bottom: 10px
  padding: 5px 21px
  background: none

.tab-button:hover
  color: #FDFD96
  cursor: pointer

.buttonActive
  color: #FDFD96
  font-weight: bold

.tab
  width: 100%
  height: 100%
  display: none
  margin-bottom: 10px

.active-tab
  display: initial

.players
  display: flex
  justify-content: space-between

.mini-champ-icon
  width: 35px
  height: 35px

.player-loadouts
  display: flex
  margin: 5px

.mini-spells
  display: flex
  flex-direction: column
  justify-content: space-between

.mini-spell
  width: 17px
  height: 17px

.mini-rune-perk
  width: 17px
  height: 17px

.mini-rune-perk-container
  width: 17px
  height: 17px
  background-color: rgba(38, 50, 56, 0.3)
  border-radius: 50px


.mini-rune-perks
  display: flex
  flex-direction: column
  justify-content: space-between

